*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* NAV 1 START */

.nav1 {
  position: fixed;
  left: 150px;
  bottom: 125px;
}
.float {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0px;
  right: 0px;
  background: #7e40b9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  transition: all 0.5s;
}

.float:hover {
  transition: all 0.5s;
  transform: scale(1.3);
}

.menu {
  padding-top: 28px;
  font-size: 28px;
}

#myfloat-totop {
  width: 80px;
  height: 80px;
  bottom: 200px;
}

.arrow {
  padding-top: 28px;
  font-size: 28px;
}

#myfloat-contact {
  width: 80px;
  height: 80px;
  bottom: 100px;
}

.envelope {
  padding-top: 28px;
  font-size: 28px;
}

.hidden {
  display: none;
}
/* NAV 1 END */

/* NAV 2 START */

.nav2 {
  position: fixed;
  bottom: 0;
  right: 20px;
}
.triggerButton {
  display: none;
}

.triggerButton + label {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #1a374d;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.5s ease;
}

.triggerButton + label:before,
.triggerButton + label:after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.5em;
  transition: all 0.25s;
}

.triggerButton + label:before {
  width: 0.25em;
}

.triggerButton + label:after {
  height: 0.25em;
}

.triggerButton + label:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.triggerButton:checked + label:before {
  transform: rotatez(-45deg);
}

.triggerButton:checked + label:after {
  transform: rotatez(-45deg);
}

.one,
.two,
.three {
  cursor: pointer;
  position: absolute;
  right: 2em;
  bottom: 2em;
  padding: 1em;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  transform: rotateZ(90deg);
  font-size: 1em;
  color: #fff;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  justify-content: center;
  align-items: center;
}

.triggerButton:checked ~ .one,
.triggerButton:checked ~ .two,
.triggerButton:checked ~ .three {
  opacity: 1;
}

.triggerButton:checked ~ .one {
  background-color: #406882;
  transform: translateX(-5em);
  transition-delay: 0.2s;
}

.triggerButton:checked ~ .two {
  background-color: #6998ab;
  transform: translateX(-3.5em) translateY(-3.5em);
  transition-delay: 0.1s;
}

.triggerButton:checked ~ .three {
  background-color: #b1d0e0;
  transform: translateY(-5em);
}

.triggerButton:checked ~ .one:hover,
.triggerButton:checked ~ .two:hover,
.triggerButton:checked ~ .three:hover {
  opacity: 0.8;
}

@media all and (max-width: 500px) {
  .nav2 {
    bottom: 20%;
  }
}
/* NAV 2 END */

/* NAV 3 START */

.nav3 {
  position: fixed;
  bottom: 10px;
  right: 350px;
}

.bottomnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 75px;
  background: crimson;
  /*  border-radius: 45px; */
  transition: all 0.5s ease;
}

.bottomnav:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.bottomnav > div > .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.bottomnav > div > .item:hover {
  transition: all 1.5s ease;
  transform: scale(1.5);
  transform: rotate(360deg);
}

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selector {
  display: none;
  border-bottom: solid 5px white;
}

.selected {
  padding-top: 5px;
  display: block;
}

@media all and (max-width: 500px) {
  .nav3 {
    bottom: 1;
    right: 20%;
  }
}
/* NAV 3 END */

/* NAV 4 START */
.sidebar {
  position: fixed;
  min-height: 50vh;
  top: 25%;
  left: -15%;
  width: 20vw;
  transition: all 0.5s;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background: #24a19dda;
  color: #faeee7;
  border-radius: 25px;
  display: flex;
}

.sidebar-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.upper-sidebar,
.lower-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-left: 25px;
}

.upper-sidebar {
  justify-content: space-evenly;
}

.lower-sidebar {
  justify-content: flex-end;
  gap: 1em;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
  left: 15%;
  height: 50vh;
  width: 1rem;
  transition: all 0.5s;
}

.expand {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.slide {
  left: -3vw;
  transition: all 0.5s;
}

@media all and (max-width: 500px) {
  .sidebar {
    width: 40vw;
    left: -33%;
  }
  .toggle {
    left: 2vw;
  }

  .slide {
    left: -6vw;
  }
}

/* NAV 4 END */

/* NAV 5 START */

.tab {
  height: 10vh;
  width: 100vw;
  display: flex;
}

.tab-item {
  display: flex;
  min-height: 100%;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  opacity: 0.6;
}

.tab-item:active,
.tab-item:hover {
  opacity: 1;
  transition: all 0.5s;
}

.tab-item:nth-child(1) {
  background: cornflowerblue;
}

.tab-item:nth-child(2) {
  background: green;
}

.tab-item:nth-child(3) {
  background: yellow;
}

.tab-item:nth-child(4) {
  background: orange;
}

/* NAV 5 END */
